{%- set SERVICES = stack.Services %}
{%- set VOLUMES = stack.Volumes %}
{%- set SECRETS = stack.Secrets %}
{%- set TRAEFIK_DEFAULTS %}{{ "- \""|indent(10, true) + "traefik.enable=true\"" }}
{{ "- \"traefik.frontend.headers.customFrameOptionsValue=sameorigin\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.customFrameOptionsValue=allow-from https://"|indent(10,true) + compose.organizrURL + "\"" }}
{{ "- \"traefik.frontend.passHostHeader=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSPreload=true\""|indent(10,true) }}
{{ "- \"traefik.protocol=http\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.frameDeny=true\""|indent(10,true) }}
{{ "- \"traefik.docker.network=frontend\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.SSLRedirect=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.SSLForceHost=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.browserXSSFilter=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSSeconds=315360000\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.contentTypeNosniff=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.forceSTSHeader=true\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.customResponseHeaders=X-Robots-Tag:noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex,none\""|indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSIncludeSubdomains=true\""| indent(10,true) }}{% endset %}
{{- "version:" + "\""|indent(41,true) + defaults.docker_version|string + "\"" }}
{{ "networks:" }}
{{ "shared-backend:"|indent(4,true) }}
{{ "external:" |indent(8,true) + "true"|indent(32,true) }}
{{ "backend:"|indent(4,true) }}
{{ "driver:"|indent(8,true) + "bridge"|indent(34,true) }}
{{ "ipam:"|indent(8,true) }}
{{ "config:"|indent(12,true) }}
{{ "- subnet:"|indent(14,true) +  compose.backend_subnet|indent(26,true) }}
{{ "frontend:"|indent(4,true) }}
{{ "external:" |indent(8,true) + "true"|indent(32,true) }}
{{ "secrets:" }}
{{ "PUID:"|indent(4,true) }}
{{ "file:"|indent(8, true) + "${SECRETS}/PUID.secret"|indent(36,true) }}
{{ "PGID:"|indent(4,true) }}
{{ "file:"|indent(8, true) + "${SECRETS}/PGID.secret"|indent(36,true) }}{% for service in SERVICES|sort %}{% set SERVICE = service|replace("_", "-") %}{% set PORT_AND_FRONTEND = (SERVICES[service]['ports'] and SERVICES[service]['subdomains'] and  SERVICES[service]['networks'] and SERVICES[service]['networks']['frontend']) is defined %}{% if SERVICES[service].OAUTH_PROXY or SERVICES[service].proxy_secrets %}
{{ SERVICE|indent(4, true) + "_proxy_client_id:" }}
{{ "file:"|indent(8, true) + "${SECRETS}/"|indent(36, true) + SERVICE + "/OAUTH2_PROXY_CLIENT_ID.secret" }}
{{ SERVICE|indent(4, true)  + "_proxy_client_secret:" }}
{{ "file:"|lower|indent(8, true) + "${SECRETS}/"|indent(36, true) + SERVICE + "/OAUTH2_PROXY_CLIENT_SECRET.secret" }}
{{ SERVICE|indent(4, true)  + "_proxy_cookie_secret:" }}
{{ "file:"|indent(8, true) + "${SECRETS}/"|indent(36, true) + SERVICE + "/OAUTH2_PROXY_COOKIE_SECRET.secret" }}{% endif %}{% endfor %}{% if SECRETS is defined %}{% for secret in SECRETS|sort %}
{{ secret|lower|indent(4, true) }}:{% if service == "elasticsearch" %}
{{ "file:" |indent(8, true) + "${SECRETS}/"|indent(36, true) + secret.split('_')[0]|lower|default(service) + "/" + secret|lower + ".secret" }}{% else %}
{{ "file:" |indent(8, true) + "${SECRETS}/"|indent(36, true) + secret.split('_')[0]|lower|default(service) + "/" + secret|upper + ".secret" }}{% endif %}{% endfor %}{% endif %}{% if VOLUMES %}
{{ "volumes:" }}{% for volume in VOLUMES|sort %}
{{ volume |indent(4,true) + ":" }}
{{ "external:"|indent(8, true) + "true"|indent(32, true) }}{% endfor %}{% endif %}
{{ "services:" }}{% for service in SERVICES|sort %}{% set SERVICE = service|lower|replace("_", "-") %}{% set CONTAINER_VPN = ('vpn' in service) %}{% if CONTAINER_VPN %}
{{ compose.stackTitle|indent(4, true) + "-" + SERVICE + ":" }}
{{ "container_name:" |indent(8,true) + compose.stackTitle|indent(26, true) + "-" +  SERVICE }}
{{ "hostname:"|indent(8,true) + compose.stackTitle|indent(32, true) + "-" + SERVICE }}{% else %}
{{ SERVICE|indent(4, true) + ":" }}
{{ "container_name:"|indent(8, true) + SERVICE|indent(26, true) }}{% if not (SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn']) %}
{{ "hostname:"|indent(8, true) + SERVICE|indent(32, true) }}{% endif %}{% endif %}
{{ "image:"|indent(8, true) + SERVICES[service]['Image']|indent(35,true) + ":" + SERVICES[service]['tags']|default('latest') }}{% if SERVICES[service]['build'] and SERVICES[service]['build']['args'][0] is defined %}
{{ "build:"|indent(8, true) + "[]"|indent(29, true) }}{% endif %}{% if SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets'] or SECRETS %}
{{ "secrets:"|indent(8, true) }}
{{ "- PUID"|indent(10, true) }}
{{ "- PGID"|indent(10, true) }}{% if SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets'] %}
{{ "- "|indent(10, true) + SERVICE + "_proxy_client_id" }}
{{ "- "|indent(10, true) + SERVICE + "_proxy_client_secret" }}
{{ "- "|indent(10, true) + SERVICE + "_proxy_cookie_secret" }}{% endif %}{% for key in SERVICES[service]['secrets']|sort %}
{{ "- "|indent(10, true) + key }}{% endfor %}{% endif %}{% if SERVICES[service]['cap_add'] %}
{{ "cap_add:"|indent(8, true) }}{% for cap in SERVICES[service]['cap_add'] %}
{{ "- "|indent(10, true) + cap }}{% endfor %}{% endif %}{% if SERVICES[service]['cap_drop'] %}{% for cap in SERVICES[service]['cap_drop'] %}
{{ "cap_drop:"|indent(8, true) }}
{{ "- "|indent(10, true) + cap }}{% endfor %}{% endif %}{% if 'sysctls' in SERVICES[service] %}
{{ "sysctls:"|indent(8, true) }}{% for statement in SERVICES[service]['sysctls']|sort %}
{{ "- "|indent(10, true)+ "\"" + statement + "\"" }}{% endfor %}{% endif %}
{% if SERVICES[service]["privileged"] %}{{ "privileged:"|indent(8, true) + "true"|indent(30, true) }}{% else %}{{ "user:"|indent(8, true) + "\""|indent(36, true) + compose.puid + ":" + compose.pgid + "\"" }}{% endif %}
{{ "env_file:"|indent(8, true) }}
{{ "- globals.env"|indent(10, true) }}
{{ "- "|indent(10, true) + SERVICE + ".env" }}
{{ "volumes:"|indent(8, true) }}{% for volume in SERVICES[service]['Volumes']|sort|default([]) %}
{{ "- "|indent(10, true) + volume }}{% endfor %}{% set FINAL_OCTET = (255 - loop.index)|string %}{% if SERVICES[service]['ports'] and not SERVICES[service]['mask_ports'] %}
{{ "ports:"|indent(8, true) }}{% for port in SERVICES[service]['ports']|sort %}{% set PORT = port|replace("/udp","")%}{% set PORT = PORT|replace("/tcp","")%}
{{ "- target:"|indent(10, true) + PORT.split(':')[1]|indent(30,true) }}
{{ "published:"|indent(12, true) + PORT.split(':')[0]|indent(27,true) }}
{% if "udp" in port %}{{ "protocol:"|indent(12, true) + "udp"|indent(28,true) }}{% else %}{{ "protocol:"|indent(12,true) + "tcp"|indent(28,true) }}{% endif %}
{{ "mode:"|indent(12, true) + "host"|indent(32,true) }}{% endfor %}{% endif %}
{% if (SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn']) %}{{ "network_mode:"|indent(8, true) +  "\"service:"|indent(28, true) + compose.vpnHostName + "\"" }}{% else %}{{ "networks:"|indent(8, true) }}
{{ "shared-backend:"|indent(12, true) }}
{{ "backend:"|indent(12, true) }}
#{{ "ipv4_address:" |indent(16,true)  + compose.ip + "." + (255 - loop.index)|string }}
{%- if (SERVICES[service]['networks'] and SERVICES[service]['networks']['frontend']) and not (SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets']) %}
{{ "frontend:"|indent(12, true) }}{% endif %}{% if SERVICES[service]['subdomains'] %}
{{ "dns_search:"|indent(8,true) + SERVICES[service]['subdomains'][0]|indent(30,true) + "." + compose.domain }}{% if CONTAINER_VPN %}
{{ "dns:"|indent(8, true) }}
{% for nameserver in SERVICES[service]['DNS'] %}{{ "- "|indent(10, true) + nameserver }}{% endfor %}{% elif ((SERVICES[service]['networks']) and not (SERVICES[service]['networks']['vpn'])) and not (SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets']) %}
{{"domainname:"|indent(8, true) + compose.domain|default("localhost")|indent(30, true) }}
{{ "dns:"|indent(8, true) }}{% if not SERVICES[service]['DNS'] %}{% for nameserver in defaults.DNS %}
{{ "- "|indent(10, true) + nameserver }}{% endfor %}{% else %}{% for nameserver in SERVICES[service]['DNS'] %}
{{ "- "|indent(10, true) + nameserver }}{% endfor %}{% endif %}{% endif %}{% if not SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets'] %}{% endif %}{% if SERVICES[service]['ports'] and SERVICES[service]['subdomains'] and SERVICES[service]['networks'] and SERVICES[service]['networks']['frontend'] or SERVICES[service]['labels'] %}
{{ "labels:"|indent(8,true) }}{% if SERVICES[service]['ports'] and SERVICES[service]['subdomains'] and SERVICES[service]['networks'] and SERVICES[service]['networks']['frontend'] %}
{{ TRAEFIK_DEFAULTS }}{% if CONTAINER_VPN %}
{{ "- \""|indent(10,true) + SERVICE + "-" + "service.name=" + compose.stackTitle + "-" + SERVICE + "\"" }}{% else %}
{{ "- \""|indent(10,true) + "service.name=" + SERVICE + "\"" }}{% endif %}
{{ "- \"traefik.frontend.headers.customFrameOptionsValue='allow-from https:"|indent(10,true) + SERVICES[service]['subdomains'][0] + "." + compose.domain + "'\"" }}{% if SERVICES[service]['HOSTS'] and ',' in SERVICES[service]['HOSTS'] %}
{{ "- \"traefik.frontend.rule=Host:"|indent(10,true) + SERVICES[service]['HOSTS']|lower + "." + compose.domain + "\""}}{% else %}
{{ "- \"traefik.frontend.rule=Host:"|indent(10,true) + SERVICES[service]['subdomains'][0] + "." + compose.domain + "\""}}{%- endif %}
{{ "- \"traefik.frontend.headers.SSLHost="|indent(10,true) + SERVICES[service]['subdomains'][0] + "." + compose.domain + "\"" }}
{{ "- \"traefik.backend="|indent(10,true) + SERVICE + "\"" }}{% if SERVICE== "plex" %}
{{ "- \"traefik.port=32400\""|indent(10,true) }}{% elif PORT_AND_FRONTEND %}
{{ "- \"traefik.port="|indent(10,true) + SERVICES[service]['ports'][0].split(':')[1] + "\"" }}{% endif %}{% endif %}{% if SERVICES[service]['labels'] %}{% for label in SERVICES[service]['labels'] %}
{{ "- \""|indent(10, true) + label + "\"" }}{% endfor %}{% endif %}{% endif %}{% if 'Commands' in SERVICES[service] and SERVICES[service]['Commands'][0] is defined %}
{{ "command:"|indent(8,true)}}{% for command in SERVICES[service]['Commands']|sort %}{% if SERVICES[service]['Commands']|length == 1 %}
{{ "\"" + command|indent(33, true) + "\"" }}{% else %}
{{ "- \""|indent(10, true) + command + "\"" }}{% endif %}{% endfor%}{% endif %}
{%- if ('depends_on' in SERVICES[service] and SERVICES[service]['depends_on']) or (SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn']) %}
{{ "depends_on:"|indent(8,true)}}{% for dependency in SERVICES[service]['depends_on'] %}
{{ "- \""|indent(10, true) + dependency|replace("_", "-") + "\"" }}{% endfor %}
{% if SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn'] %}{{ "- \""|indent(10, true) + compose.vpnHostName + "\"" }}{% endif %}
{%- endif %}{% if 'healthcheck' in SERVICES[service] and SERVICES[service]['healthcheck'] %}
{{ "healthcheck:"|indent(8, true) }}
{{ "test:"|indent(12,true) + SERVICES[service]['healthcheck']['test']|indent(36, true) }}
{{ "interval:"|indent(12,true) + SERVICES[service]['healthcheck']['interval']|default(30, true) + "s" }}
{{ "timeout:"|indent(12,true) + SERVICES[service]['healthcheck']['timeout']|default(30, true) + "s" }}
{{ "retries:"|indent(12,true) + SERVICES[service]['healthcheck']['retries']|default(5, true) }}{% endif %}{% if 'entrypoint' in SERVICES[service] %}
{{ "entrypoint:"|indent(8, true) + "|"|indent(30, true) }}
{{ "bash -c 'bash -s <<EOF"|indent(12, true) }}{% for entry in SERVICES[service]["entrypoint"] %}
{{ entry|indent(16, true) }}{% endfor %}
{{ "EOF'"|indent(12, true) }}{% endif %}{% endif %}{% endif %}
{% if ((SERVICES[service]['OAUTH_PROXY'] or SERVICES[service]['proxy_secrets']) is defined) %}{{ SERVICE|indent(4, true) + "-proxy:" }}
{{ "container_name:"|indent(8, true) + SERVICE|indent(26,true) + "-proxy" }}
{{ "image:"|indent(8, true) + "a5huynh/oauth2_proxy:latest"|indent(35,true) }}
{{ "secrets:"|indent(8, true) }}
{{ "- "|indent(10, true) + SERVICE + "_proxy_client_id" }}
{{ "- "|indent(10, true) + SERVICE + "_proxy_client_secret" }}
{{ "- "|indent(10, true) + SERVICE + "_proxy_cookie_secret" }}
{{ "env_file:"|indent(8, true) }}
{{ "- globals.env"|indent(10, true) }}
{{ "- "|indent(10, true) + SERVICE + ".env" }}
{{ "volumes:"|indent(8, true) }}
{{ "- "|indent(10, true) + "${CONFIGS}/security/authenticated-emails.txt:/file/authenticated-emails.txt:ro" }}
{{ "user:"|indent(8, true) + "\""|indent(36, true) + compose.puid + ":" + compose.pgid + "\"" }}
{%- if (SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn']) %}
{{ "network_mode:"|indent(8, true) +  "\"service:"|indent(28, true) + compose.vpnHostName + "\"" }}
{%- else %}
{{ "networks:"|indent(8, true) }}
{{ "shared-backend:"|indent(12,true) }}
{{ "backend:"|indent(12,true) }}{% set PROXY_FINAL_OCTET = (loop.index + 2)|string %}
#{{ "ipv4_address:" |indent(16,true)  + compose.ip|indent(20,true)  + "." +  PROXY_FINAL_OCTET }}
{% if SERVICES[service]['subdomains'] is defined %}{{ "frontend:"|indent(12,true) }}{% endif %}{% if SERVICES[service]['subdomains'] is defined %}
{{ "dns_search:"|indent(8,true) + SERVICES[service]['subdomains'][0]|indent(30,true) + "." + compose.domain }}
{{ "dns:"|indent(8, true) }}{% if not SERVICES[service]['DNS'] %}{% endif %}
{% for nameserver in defaults.DNS %}{{ "- "|indent(10, true) + nameserver }}{% endfor %}{% else %}
{% for nameserver in SERVICES[service]['DNS'] %}{{ "-"|indent(10, true) + nameserver }}{% endfor %}{% endif %}
{{ "restart:"|indent(8,true) + "always"|indent(33,true) }}
{{ "depends_on:"|indent(8, true) }}
{{ "- "|indent(10, true) + SERVICE}}
{{ "labels:"|indent(8,true) }}{% if SERVICES[service]['subdomains'] is defined %}
{{ "- \"traefik.frontend.rule=Host:"|indent(10,true) + SERVICES[service]['subdomains'][0]|lower + "." + compose.domain + "\"" }}
{{ "- \"traefik.frontend.headers.SSLHost="|indent(10,true) + SERVICES[service]['subdomains'][0] + "." + compose.domain + "\"" }}{% elif PORT_AND_FRONTEND %}
{{ "- \"traefik.frontend.rule=Host:"|indent(10,true) + SERVICE + "." + compose.domain + "\"" }}
{{ "- \"traefik.frontend.headers.SSLHost="|indent(10,true) + SERVICE + "." + compose.domain + "\"" }}{% endif %}{% if (SERVICES[service]['networks'] and SERVICES[service]['networks']['vpn']) %}
{{ "- \"traefik.backend="|indent(10,true) + compose.vpnHostName + "\"" }}{% else %}
{{ "- \"traefik.backend="|indent(10,true) + "proxy_" + SERVICE + "\"" }}
{{ "- \"traefik.port="|indent(10,true) + compose.oauth_port + "\"" }}{% endif %}
{{ TRAEFIK_DEFAULTS }}
{{ "command:"|indent(8, true) + "|"|indent(32, true) }}
{{ "-cookie-secure=false"|indent(10, true) }}
{%- if SERVICES[service]['networks'] is defined and SERVICES[service]['networks']['vpn'] and SERVICES[service]['ports'] %}
{{ "-upstream=http://"|indent(10, true) + compose.vpnHostName + ":" + SERVICES[service]['ports'][0].split(':')[1] }}
{%- elif SERVICES[service]['ports']  %}
{{ "-upstream=http://"|indent(10, true) + SERVICE|replace("_", "-") + ":" + SERVICES[service]['ports'][0].split(':')[1] }}
{%- elif SERVICES[service]['networks'] is defined and SERVICES[service]['networks']["frontend"] and not SERVICES[service]['ports'] %}
{{ "-upstream=http://"|indent(10, true) + SERVICE|replace("_", "-") + ":" + 80 }}
{%- endif %}
{{ "-authenticated-emails-file=/file/authenticated-emails.txt"|indent(10, true) }}
{{ "-cookie-secure=false"|indent(10, true) }}{% if SERVICES[service]['networks'] is defined and SERVICES[service]['networks']['vpn'] and SERVICES[service]['ports'] %}
{{ "-upstream=http://"|indent(10, true) + compose.vpnHostName + ":" + SERVICES[service]['ports'][0].split(':')[1] }}{% elif SERVICES[service]['ports']  %}
{{ "-upstream=http://"|indent(10, true) + SERVICE|replace("_", "-") + ":" + SERVICES[service]['ports'][0].split(':')[1] }}{% elif SERVICES[service]['networks'] is defined and SERVICES[service]['networks']["frontend"] and not SERVICES[service]['ports'] %}
{{ "-upstream=http://"|indent(10, true) + SERVICE|replace("_", "-") + ":" + 80 }}{% endif %}
{{ "-authenticated-emails-file=/config/authenticated-emails.txt"|indent(10, true) }}
{{ "-email-domain=gmail.com"|indent(10, true) }}
{{ "-http-address=http://0.0.0.0:"|indent(10, true) + compose.oauth_port }}
{{ "-provider=github"|indent(10, true) }}{% if SERVICES[service]['subdomains'] is defined %}
{{ "-redirect-url=https://"|indent(10, true) + SERVICES[service]['subdomains'][0] + "." + compose.domain }}{% else %}
{{ "-redirect-url=https://"|indent(10, true) + SERVICE + "." + compose.domain }}{% endif %}{% endif %}{% endif %}{% endfor %}
