{{ "- \"" | indent(10, true) + "traefik.enable=true\"" }}
{{ "- \"traefik.frontend.headers.customFrameOptionsValue=sameorigin\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.customFrameOptionsValue=allow-from https://" | indent(10,true) + ORGANIZR_SUBDOMAIN + "." + DOMAIN + "\"" }}
{{ "- \"traefik.frontend.passHostHeader=true\"" | indent(10,true) }}
{{ "- \"traefik.protocol=http\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.frameDeny=true\"" | indent(10,true) }}
{{ "- \"traefik.docker.network=frontend\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.SSLRedirect=true\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.SSLForceHost=true\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.browserXSSFilter=true\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSSeconds=315360000\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.contentTypeNosniff=true\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.forceSTSHeader=true\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.customResponseHeaders=X-Robots-Tag:noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex\"" | indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSIncludeSubdomains=true\""| indent(10,true) }}
{{ "- \"traefik.frontend.headers.STSPreload=true\"" | indent(10,true) }}
